<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletMVC</display-name>
  <welcome-file-list>
    <welcome-file>AddEmployee.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterEmployee</display-name>
    <servlet-name>RegisterEmployee</servlet-name>
    <servlet-class>com.Controller.RegisterEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployee</servlet-name>
    <url-pattern>/RegisterEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <servlet-class>com.Controller.ViewAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeesServlet</servlet-name>
    <url-pattern>/viewAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.Controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>

</web-app>